<h1><%= @user.name %></h1>

<div>
  <ul>
    <% @gymvisits.each do |visit| %>
      <li>
        <%= "#{visit.date}: #{visit.calories_burned}" %>
        <%= link_to "Edit Visit", edit_user_gymvisit_path(@user, visit) %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "Record New Visit", new_user_gymvisit_path(@user.id) %>
